@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900");
@import url(https://fonts.googleapis.com/css?family=Princess+Sofia:regular);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inter;
  font-style: normal;
}

html {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}

body {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

.LeftSide-img {
  background-image: url("../src/assets/img/Picture.JPG");
  background-size: cover;
}

/* width */
.custom__scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
.custom__scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.custom__scrollbar::-webkit-scrollbar-thumb {
  background: #515151;
  border-radius: 24px;
}

/* Handle on hover */
.custom__scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2f2f2f;
}

.line-clamp-4 {
  line-clamp: none;
  transition: line-clamp 0.3s ease;
}